

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  height: 100%;
}


 /* TABS DESIGN */

.Monthly {
  left: 1205px; 
  top: 621px; 
  position: absolute; 
  color: #231F20; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400;
  letter-spacing: 1.40px; 
  word-wrap: break-word; 
}
.ThisYear {
  width: 80px; 
  left: 888px; 
  top: 621px; 
  color: #231F20; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  letter-spacing: 1.40px; 
  word-wrap: break-word;
}

.Overview {
  width: 109px; 
  left: 1037px; 
  top: 621px; 
  position: absolute; 
  color: #231F20; 
  font-size: 14px; 
  font-family: Poppins; 
  font-weight: 400; 
  letter-spacing: 1.40px; 
  word-wrap: break-word;
}


.graphTab li {
	display: inline;
  transition: 0.5s;
}

.graphTab ul {
  margin: 0 auto;
  text-align: center;
  transition: 0.5s;
}




.Create {
text-align: center; 
width: 100%;
height: 24px;
color: #231F20; 
font-family: Poppins; 
font-weight: 400;
text-transform: capitalize; 
letter-spacing: 2.40px; 
}




 /* TOP SQUARES DESIGN */


.dateTitle {
width: 100%;
left: 595px; 
top: 261px; 
position: absolute; 
color: #231F20; 
font-size: 25px; 
font-family: Poppins; 
font-weight: 500; 
letter-spacing: 5px; 
word-wrap: break-word;
}


.ShowAll {
  width: 63px; 
  position: absolute; 
  text-align: right; 
  color: #9AB4C4; 
  font-size: 10px; 
  font-family: Poppins; 
  font-weight: 500; 
  letter-spacing: 1.20px; 
  word-wrap: break-word;
}



 /* SIDE SQUARE DESIGN */
.sideTitle {
  left: 145px; 
  top: 364px; 
  position: absolute; 
  text-align: center; 
  color: #231F20; 
  font-size: 26px;
  font-family: Poppins; 
  font-weight: 500; 
  letter-spacing: 2.60px; 
  word-wrap: break-word;
}

.Profile {
left: 135px; 
top: 400px; 
position: absolute; 
text-align: center; 
color: #CB856F; 
font-size: 20px; 
font-family: Poppins; 
font-weight: 300; 
letter-spacing: 2px;
word-wrap: break-word;
}

.AccountResponse {
  left: 250px;
  top: 448px; 
  width: 126px;
  position: absolute;
  text-align: center; 
  color: #CB856F; 
  font-size: 18px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 20px; 
  letter-spacing: 1.08px;
  word-wrap: break-word;
}

.MemberResponse {
  left: 290px;
  top: 503px; 
  width: 50px;
  height: 27px;
  position: absolute;
  text-align: center; 
  color: #CB856F; 
  font-size: 18px; 
  font-family: Poppins; 
  font-weight: 400; 
  line-height: 20px; 
  letter-spacing: 1.08px;
  word-wrap: break-word;
}

.TestimonialsResponse {
  left: 307px;
  top: 547px; 
  width: 12px;
  height: 27px;
  position: absolute;
  text-align: center; 
  color: #CB856F; 
  font-size: 18px; 
  font-family: Poppins; 
  font-weight: 40; 
  line-height: 20px; 
  letter-spacing: 1.08px;
  word-wrap: break-word;
}

.tab-content {
  display: none;
}

.active-tab {
  display: block;
  
}

.tab-button {
  cursor: pointer;
  padding: 10px 15px;
  background-color: #f1f1f1;
  margin-right: 5px;
  font-family: Poppins;
  font-size: 14px;
  letter-spacing: 1.4px;
}